.products {
    max-width: 100vw;
    padding: 15px 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: center;
    align-items: center;
    margin-top: 60px;


    .product {
        display: flex;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 1px solid #e2e2e2;
        padding: 10px;
        border-radius: 5px;

        img {
            width: 100%;
        }
 
        button {
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            background-color:#128c7e;
        }

        button:hover {
            background-color: #cecece;
        }

    .productDescription {
    display: flex;
    flex-direction: column;
    gap: 3px
    }  
    .productName {
            text-align: center;
            font-weight: 500;
    }

        .productActions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 6px;
            border:1px solid #e2e2e2;
            border-radius: 4px;
            padding: 0 5px;

            button {
                background: none;
                color: #25d366;
                font-weight: 500;
            }
            .productAmount{
                display: flex;
                align-items: center;
            }
        } 
    }



}