@import '../../App.scss';
.navbar {
    background-color:$base-color;
    position: fixed;
    overflow: hidden;
    box-shadow: 0 0 30px #d3d3d3;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px 10px;
    color: white;
  
.listnavbar {
        display: flex;
        align-items: center;
        gap:  8px;

        .listnavbarItem {
            list-style: none;
            

            .addProduct {
                border: none;
                padding: 5px 5px;
                border-radius: 5px;
                background: transparent;
                color: inherit;
            }
        }

    }

}
@media (max-width: 420px) {
    .navbar {
        width: 100%;
    }
}