* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

$base-color:#1DA1F2;
$secondary: #657786;
$modal-BG: #1da1f247;


